{
  "arrowParens": "always",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "semi": true,
  "printWidth": 140,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "auto",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "proseWrap": "preserve",
  "requirePragma": false
}
